<script setup lang="ts">
import MessageList from '@/components/MessageList.vue'
import MessageBox from '@/components/MessageBox.vue'
import { ref } from 'vue';
import { nextTick } from 'vue';

const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['ดีจ้า','ทำไรเอ่ย','กินข้าวยัง','ง่วงนอนยัง','ไปละบาย']
function send(message: string){
  messages.value.push(message)
  answerWithComputer()
}
function answerWithComputer() {
  const ranAns = Math.floor(Math.random()*10000)%answers.length
  const answer = answers[ranAns]
  messages.value.push(answer)
  nextTick(() => { //สเตจทุกอย่างปรับปรุงเสร็จแล้วจึงมาเรียกตัวข้างในฟังชั่น
    messageList.value?.updateUI()
  })
  
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages="messages" />
    <MessageBox @send="send" />
  </div>
</template>
